#app {
  width: 100%;
  margin: 0;
}
html, body {
  width: 100%;
  margin: 0;
}

#app {
  font-family: Futura-Book, Helvetica, Arial, sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.content {
  padding: 20px;
  margin: 0 auto;
  max-width: $content-width;
  margin-top: $navbar-height;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
}

.large-content {
  max-width: 100%;
}

a {
  color: $bg-color;
  text-decoration: none;
}

.button {
  background-color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.green-text {
  color: $green;
  font-weight: bold;
}

.title-font {
  font-family: 'Ruda', sans-serif;
}

.right-to-left {
  text-align: right;
  direction: rtl;
}