$bg-color: #363445;
$bg-gold: #d58d33;
$bg-gold-light: #f8ba6b;
$lighter: #ffffff24;
$darker: #00000024;

$txt-color: #d8deec;
$txt-color-light: #d8deecdd;
$light-gray: #43425117;
$green: #28A745;
$red: #DC3545;

$navbar-height: 58px;
$footer-height: 120px;
$side-menu-width: 300px;
$content-width: 800px;
